@charset "UTF-8";

/*General*/
* {
	margin: 0;
	font-family: "Lucida Console", "Courier New", monospace;
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
}

body {
	background-image: radial-gradient(circle at 99% 33%, hsla(235,0%,48%,0.03) 0%, hsla(235,0%,48%,0.03) 37%,transparent 37%, transparent 100%),radial-gradient(circle at 46% 16%, hsla(235,0%,48%,0.03) 0%, hsla(235,0%,48%,0.03) 43%,transparent 43%, transparent 100%),radial-gradient(circle at 99% 25%, hsla(235,0%,48%,0.03) 0%, hsla(235,0%,48%,0.03) 22%,transparent 22%, transparent 100%),radial-gradient(circle at 57% 88%, hsla(235,0%,48%,0.03) 0%, hsla(235,0%,48%,0.03) 86%,transparent 86%, transparent 100%),radial-gradient(circle at 82% 78%, hsla(235,0%,48%,0.03) 0%, hsla(235,0%,48%,0.03) 22%,transparent 22%, transparent 100%),linear-gradient(90deg, rgb(25,10,47),rgb(25,10,47));
    margin: 0 !important;
}

.lightColor {
	color: rgb(214, 204, 246);
}

.darkerLightColor{
	color: rgb(146, 136, 179);
}

.flashColor{
	color: rgb(218, 100, 255);
}

#mainContainer{
	display: flex;
}

a{
	text-decoration: none;
}


a:hover{
	color: rgb(218, 100, 255);
	background-color: rgba(214, 204, 246, 0.05);
}

li{
	list-style-type: none;
}

.fakeStartTag::before{
	content:"<";
	color: rgba(77, 205, 219, 0.5);
}

.fakeStartTag::after{
	content:">";
	color: rgba(77, 205, 219, 0.5);
}

.fakeEndTag::before{
	content:"</";
	color: rgba(77, 205, 219, 0.5);
}

.fakeEndTag::after{
	content:">";
	color: rgba(77, 205, 219, 0.5);
}

.fakeTag{
	color: rgba(126, 133, 135, 0.5);
	font-family: sans-serif;
	font-size: 0.8em;
}

.scrollAlignCenter{
	scroll-snap-align: center;
}
/*General------------------------------------*/



/*Scrollbar*/
::-webkit-scrollbar {
	width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	background: rgb(25, 10, 47); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(130, 70, 199);
	border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555; 
}
/*Scrollbar----------------------------------*/



/*Side Bar*/
#sideBar{
	background-color: rgb(25, 10, 47);
	width: 10%;
	height: 100vh;
	position: fixed;
	box-shadow: 10px 0 15px 10px rgba(0,0,0,0.59);
}

#navBar{
	margin-top: 50vh;
	transform: translateY(-50%);
	height: 33%;
}


#navBar a{
	height: 25%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#githubLink{
	display: flex;
	justify-content: center;
	border-radius: 50%;
	margin-bottom: 2vh;
}

#githubLink img{
	width: 25%;
}
/*Side Bar-----------------------------------*/



/*Main*/
#main{
	margin-left: 10%;
	width: 90%;
}

#centered{
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}
/*Main---------------------------------------*/



/*Home*/
#home{
	height: 100vh;
}

#greetings{
	font-size: 1.5em;
	margin-left: 4%;
 	position: absolute;
  	top: 43%;
}

h1{
	font-size: 1.2em;
}

h2{
	font-size: 3.5em;
}

#greetingsEndTag{
	position: absolute;
	bottom: 0;
	left: 19%;
}
/*Home---------------------------------------*/



/*About*/
#about{
	height: 100vh;
}

#aboutWindow{
	height: calc(80% - 2em);
	margin-left: 4%;
	width: 92%;
	position: relative;
  	top: calc(50% - 1em);
  	transform: translateY(-50%);
}

#aboutSideBar{
	width: 20%;
	height: 100%;
	border-right: 1px solid rgb(214, 204, 246);
}

#aboutSideBar a{
	height: 50%;
 	display: flex;
 	justify-content: center;
 	align-items: center;
}

#aboutSideBar a:hover{
	border-radius: 10px 0 0 10px;
}

#aboutMain{
	width: calc(80% - 1px);
	height: 100%;
	top: 0;
	margin-left: 20%;
	position: absolute;
	overflow-y: hidden;
	overflow-x: hidden;
	
}

#aboutMain ::-webkit-scrollbar {
	display: none;
}

#aboutMe{
	height: 100%;
	text-align: justify;
	font-size: 1.5em;
}

#aboutMe h2{
	font-size: 1.7em;
}

#desc{
	position: relative;
	width: 90%;
	left: 5%;
	right: 5%;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
}

#knownTech{
	height: 100%;
	display: flex;
}

.techContainer{
	text-align: center;
	width: 33%;
	height: 100%;
	display : flex;
	align-items : center;
	justify-content : center;
	padding-top: 2vh;
}

.techContainer ul{
	margin: auto 0;
	padding: 0;
}

.techContainer li{
	margin-top: 3vh;
}

#aboutEndTag{
	position: absolute;
	bottom: -100vh;
	left: 19%;
}
/*About--------------------------------------*/



/*Work*/
#work{
	height: 100vh;
}

#projectsContainer{	
	position: absolute;
	bottom: -195vh;
	font-size: 0;
	height: 90%;
	width: 65%;
	margin-left: 4%;
}

#projectsContainer a:hover{
	background-color: rgba(255, 255, 255, 0)
}

.projectContainer{
	display: contents;
	height: 25%;
	width: 25%;
}

.projectText{
	position: absolute;
	text-align: center;
	vertical-align: middle;
	width: 25%;
	height: 17px;
	font-size:15px;
	background: rgba(218, 100, 255, 0.9);
	color: #fff;
	visibility: hidden;
	opacity: 0;
	transition: opacity .2s, visibility .2s;
}

.projectColumn1{
	left: 0; 
	right: 0;
}
.projectColumn2{
	left: 25%; 
	right: 25%;
}
.projectColumn3{
	left: 50%; 
	right: 50%;
}
.projectColumn4{
	left: 75%; 
	right: 75%;
}

.projectContainer:hover .projectText{
	visibility: visible;
	opacity: 1;
}

.projectPic{
	height: 25%;
	width: 25%;
	object-fit: cover;
}

#workEndTag{
	position: absolute;
	bottom: -200vh;
	left: 19%;
}
/*Work---------------------------------------*/



/*Contact*/
#contact{
	height: 100vh;
}

#socials{
	height: calc(100% - 2em);
	margin-left: 4%;
	width: 92%;
}

#socials h2{
	text-align: center;
	margin-top: 5%;
}

#socialContainer{
	height: 35%;
	width: 69%;
	position: absolute;
	bottom: -270vh;
}

#socialContainer img{
	width: 27%;
	margin-left: 2.5%;
	margin-right: 2.5%;
}

#socialContainer a:hover{
	background-color: rgba(255, 255, 255, 0);
}

#contactEndTag{
	position: absolute;
	bottom: -300vh;
	left: 19%;
}
/*Contact------------------------------------*/