@charset "UTF-8";

/*General*/
* {
	margin: 0;
	font-family: "Lucida Console", "Courier New", monospace;
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
}

body {
	background-color: rgb(25, 10, 47);  
    margin: 0 !important;
}

.lightColor {
	color: rgb(214, 204, 246);
}

.darkerLightColor{
	color: rgb(146, 136, 179);
}

.flashColor{
	color: rgb(218, 100, 255);
}

#mainContainer{
	display: flex;
}

a{
	text-decoration: none;
}


a:hover{
	color: rgb(218, 100, 255);
}

li{
	list-style-type: none;
}

.fakeStartTag::before{
	content:"<";
	color: rgba(77, 205, 219, 0.5);
}

.fakeStartTag::after{
	content:">";
	color: rgba(77, 205, 219, 0.5);
}

.fakeEndTag::before{
	content:"</";
	color: rgba(77, 205, 219, 0.5);
}

.fakeEndTag::after{
	content:">";
	color: rgba(77, 205, 219, 0.5);
}

.fakeTag{
	color: rgba(126, 133, 135, 0.5);
	font-family: sans-serif;
	font-size: 0.8em;
}

.scrollAlignCenter{
	scroll-snap-align: center;
}
/*General------------------------------------*/



/*Scrollbar*/
::-webkit-scrollbar {
	width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	background: rgba(255, 255, 255, 0); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(130, 70, 199);
	border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555; 
}
/*Scrollbar----------------------------------*/



/*Side Bar*/
#sideBar{
	width: 10%;
	height: 100vh;
	position: fixed;
	box-shadow: 10px 0 15px 10px rgba(0,0,0,0.59);
}

#navBar{
	margin-top: 50vh;
	transform: translateY(-50%);
	height: 33%;
}

#navBar ul{
	width: 100%;
	height: 100%;
	padding: 0;
}

#navBar li{
	height: 25%;
	display: flex;
	align-items: center;
	justify-content: center;
}
/*Side Bar-----------------------------------*/



/*Main*/
#main{
	margin-left: 10%;
	width: 90%;
}

#centered{
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}
/*Main---------------------------------------*/



/*Home*/
#home{
	height: 100vh;
}

#greetings{
	margin-left: 4%;
 	position: absolute;
  	top: 50%;
}

h1{
	font-size: 1.2em;
}

h2{
	font-size: 3.5em;
}

#greetingsEndTag{
	position: absolute;
	bottom: 0;
	left: 19%;
}
/*Home---------------------------------------*/



/*About*/
#about{
	height: 100vh;
}

#aboutWindow{
	height: 80%;
	margin-left: 4%;
	width: 92%;
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}

#aboutSideBar{
	width: 20%;
	height: 100%;
	border-right: 1px solid rgb(214, 204, 246);
}

#aboutSideBar ul{
	text-align: center;
	width: 100%;
	height: 100%;
	padding: 0;
}

#aboutSideBar li{
	height: 50%;
 	display: flex;
 	justify-content: center;
 	align-items: center;
}

#aboutMain{
	width: calc(80% - 1px);
	height: 100%;
	top: 0;
	margin-left: 20%;
	position: absolute;
	overflow-y: hidden;
	overflow-x: hidden;
	
}

#aboutMain ::-webkit-scrollbar {
	display: none;
}

#aboutMe{
	height: 100%;
}

#knownTech{
	height: 100%;
	display: flex;
}

.techContainer{
	text-align: center;
	width: 33%;
	height: 100%;
	display : flex;
	align-items : center;
	justify-content : center;
	padding-top: 2vh;
}

.techContainer ul{
	margin: auto 0;
	padding: 0;
}

.techContainer li{
	margin-top: 3vh;
}

#aboutEndTag{
	position: absolute;
	bottom: -100vh;
	left: 19%;
}
/*About--------------------------------------*/



/*Work*/
#work{
	height: 100vh;
}

#workEndTag{
	position: absolute;
	bottom: -200vh;
	left: 19%;
}
/*Work---------------------------------------*/



/*Contact*/
#contact{
	height: 100vh;
}

#contactEndTag{
	position: absolute;
	bottom: -300vh;
	left: 19%;
}
/*Contact------------------------------------*/